<div class="card">
  <div class="card-header">
    Project List
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]='listFilter' />
      </div>
    </div>
    <div class="row" *ngIf='listFilter != ""'>
      <div class="col-md-6">
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table" *ngIf="projects && projects.length">
        <thead>
          <tr>
            <th>
              <button class="btn btn-primary"
              (click)='toogleId()'>
                {{showId ? "Hide" : "Show"}} Id
              </button>
            </th>
            <th>Project</th>
            <th>Language</th>
            <th>Last Update</th>
            <th>GitHub</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor='let project of filteredProjects'>
          <td>{{showId ? project.Id : ""}}</td>
          <td>{{project.Name}}</td>
          <td>{{project.Language}}</td>
          <td>{{project.LastUpdate}}</td>
          <td>{{project.GitHubLink}}</td>
          <td><a [href]='project.Link'>{{project.Name}}</a></td>
        </tr>

        </tbody>
      </table>
    </div>

  </div>
</div>
