<nav class='navbar navbar-frozen navbar-expand-lg bg-transparent position-static'>
  <div class='container'>

    <a class='navbar-brand' routerLinkActive='active' [routerLink]="['/home']">{{pageTitle}}</a>
    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target="#frozenNavbar"
            aria-controls='frozenNavbar' aria-expanded='false' aria-label='Toogle Navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='navbar-collapse collapse justify-content-end' id='frozenNavbar'>

      <ul class='navbar-nav normal-links'>
        <li class='nav-item'>
          <a class='nav-link' routerLinkActive='active' [routerLink]="['/home']">Home</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' routerLinkActive='active' [routerLink]="['/projects']">Projects</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' routerLinkActive='active' [routerLink]="['/home']">Resume</a>
        </li>

      </ul>
      <ul class='navbar-nav social-links list-group-horizontal'>

        <li class='nav-item list-group-item'>
          <a class='nav-link' routerLinkActive='active' [routerLink]="['/home']">
            <fa-icon [icon]="['fab','linkedin']" size='lg' title='My LinkedIn'></fa-icon>
          </a>
        </li>
        <li class='nav-item list-group-item'>
          <a class='nav-link' routerLinkActive='active' [routerLink]="['/home']">
            <fa-icon [icon]="['fab','github']" size='lg' title='My GitHub'></fa-icon>
          </a>
        </li>
        <li class='nav-item list-group-item'>
          <a class='nav-link' routerLinkActive='active' [routerLink]="['/home']">
            <fa-icon [icon]="['fab','instagram']" size='lg' title='My Instagram'></fa-icon>
          </a>
        </li>

      </ul>

    </div>
  </div>

</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>
